
.mission-container {
  width: 98%;
  margin: 1% auto;
  border-bottom: 1px solid var(--lines);
  min-width: 1010px;
}

.m_line {
  height: 1px;
  width: 100%;
  background-color: var(--lines);
  margin: 1.5% auto;
}

.m_header {
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--lines);
  font-size: 18px;
  font-weight: bold;
  width: 98%;
  margin: auto;
}

.mu_mission {
  flex: 22;
  border-left: 1px solid var(--lines);
  padding-left: 0.5%;
}

.mu_mission p {
  text-align: left;
  margin: 5% 0.5%;
}

.mu_description {
  flex: 131;
  border-left: 1px solid var(--lines);
  padding-left: 0.5%;
  align-self: center;
}

.mu_description p {
  text-align: left;
  margin: 1% 0.5%;
}

.mu_status {
  flex: 21;
  border-left: 1px solid var(--lines);
  display: flex;
  align-items: center;
  min-width: 120px;
}

.mu_status p {
  text-align: center;
  margin: 5%;
}

.mu_button {
  flex: 26;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  border-left: 1px solid var(--lines);
  border-right: 1px solid var(--lines);
}

.ul-container {
  width: 98%;
  margin: auto;
}

.missionLi {
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--lines);
}

.missions-li:nth-child(odd) {
  background: rgb(245, 241, 241);
}

.m_mission {
  flex: 22;
  font-size: 18px;
  font-weight: bold;
  border-left: 1px solid var(--lines);
  padding-left: 0.5%;
}

.m_description {
  flex: 131;
  font-size: 14px;
  font-weight: normal;
  border-left: 1px solid var(--lines);
  padding-left: 0.5%;
}

.m_status,
.m_status1 {
  flex: 21;
  font-size: 14px;
  border-left: 1px solid var(--lines);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
}

.m_status p,
.m_status1 p {
  text-align: center;
  border: 1px solid gray;
  border-radius: 10%;
  color: white;
  font-weight: bold;
  background-color: #06bfcc;
  margin: 5%;
}

.m_status1 p {
  background-color: grey;
}

.m_button,
.m_button1 {
  flex: 26;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  border-left: 1px solid var(--lines);
  border-right: 1px solid var(--lines);
}

.m_button button,
.m_button1 button {
  border: 1px solid  rgb(247, 46, 46);
  border-radius: 10%;
  color: rgb(247, 46, 46);
  font-weight: normal;
  padding: 5%;
  height: 40px;
}

.m_button1 button {
  border: 1px solid rgb(15, 14, 14);
  color: rgb(15, 14, 14);
}

.m_button button:hover,
.m_button1 button:hover {
  border: 2px solid;
}
